<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Leitor QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">

    <ion-icon
      name="qr-code-outline"
      class="qr-icon">
    </ion-icon>

    <h2>Ler QR Code</h2>

    <p>
      Utilize a câmera para ler o QR Code do produto.
    </p>

    <ion-button
      expand="block"
      size="large"
      (click)="lerQRCode()">
      <ion-icon
        slot="start"
        name="camera-outline">
      </ion-icon>

      Abrir Câmera
    </ion-button>

    <ion-card *ngIf="resultado">

      <ion-card-header>
        <ion-card-title>
          Resultado
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ resultado }}
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>