<ion-content class="products-page">
  <div class="search-container">
    <ion-searchbar [(ngModel)]="codigo" debounce="1000" (ionInput)="buscar()">
    </ion-searchbar>
  </div>

  <ion-spinner *ngIf="carregando" class="spinner"> </ion-spinner>

  <ion-list lines="none">
    <ion-item
      button
      class="product-card"
      *ngFor="let produto of produtos"
      (click)="abrirProduto(produto)"
    >
      <div class="image-container">
        <img [src]="produto.ImgThb || produto.ImgPro" [alt]="produto.NomPro" />
      </div>

      <ion-label>
        <h2>{{ produto.NomPro }}</h2>

        <p>{{ produto.CodPro }} - {{ produto.CodDer }}</p>

        <p class="variant">{{ produto.DesDer }}</p>

        <p class="price">R$ {{ produto.PreBas | number:'1.2-2' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
